
/*General Settings */

* {
  font-family: Verdana, sans-serif;
  font-weight: 1em;
}

em {
  font-style:normal;
}

/*Header settings */

#title {
  width: 70%;
  margin-left: 70px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3%;
  border: 1px solid black;

}

#title h1 {
  font-size: 48px;
  padding-left: 10px;
}

#title p {
  padding-left :10px;
}

#logobox {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black

}

#logo {
  width: 200px;
  height: 200px;
}

/*Table Settings */

.color {
  font-weight: bold;
  background-color:#a5e8bb;
}
